*{
    box-sizing: border-box;
}
html, body{
    height: 100%;
}


body {
    background-color: #34768D;
    color: #FFE1C2;
    width: 100vw;
}

.pointer link {
    color: #FFE1C2;
}

.link:hover {
    color: #FFFFff;
}

a:visited {
    color: #FFE1C2;
}

.link:active {
    color: #FFE1C2;
}

a:-webkit-any-link {
    color: #FFE1C2;
    cursor: pointer;
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.head-img {
    display: flex;
    float: right;
    object-fit: cover;
    object-position: right bottom;
    z-index: 0;
    margin-top: -420px;
    animation: animate_grow 2s infinite;
}

@keyframes animate_grow {
    0% {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

.head-text {
    margin: 9.72vw 0 0 8.68vw;
    z-index: 1;
    position: relative;
}

.head-text h2 {
    margin: 1.4vw 0 0 0;
}

.head-text h1 {
    font-family: Gropled;
}

.human {
    z-index: 0;
    width: calc(100% - 20px);
    display: flex;
    object-fit: cover;
    object-position: center;
    justify-content: center;
}

.boyarnyshik-img {
    width: calc(100% - 20px);
}

.line1 {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: -2800px;
}

.boyarnyshik {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.boyarnyshik-text {
    margin: 9.38vw 0 0 3.47vw;
    /*max-width: 221px;*/
}

.gingo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -150px;
}

.gingo-text {
    margin: 0 4.86vw 0 0;
}

.gingo-img {
    width: calc(100% - 20px);
}

.line2 {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;
}

.oblepisha {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 13.89vw 0 0 0;
}

.oblepisha-text {
    margin: 9.38vw 0 0 3.47vw;
}

.leaves_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /*margin: -850px 0 0 0;*/
}

.leaves_right-img {
    margin: -75px 0 0 0;
}


.line3 {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;
}

.leaves_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.lycerna {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: -350px 0 0 0;
}

.lycerna-text {
    margin: 0 4.86vw 0 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

.left-text {
    margin: 0 0 0 3.47vw;
}

.right-text {
    margin: 0 4.86vw 0 0;
}