* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    /*overflow-x: hidden;*/
}

.section-header {
    position: relative;
}

body {
    background-color: #34768D;
    color: #FFE1C2;
    width: 100vw;
}

.pointer link {
    color: #FFE1C2;
}

.link:hover {
    color: #FFFFff;
}

a:visited {
    color: #FFE1C2;
}

.link:active {
    color: #FFE1C2;
}

a:-webkit-any-link {
    color: #FFE1C2;
    cursor: pointer;
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.head-img {
    /*display: flex;*/
    /*float: right;*/
    /*object-fit: cover;*/
    /*object-position: right bottom;*/
    /*z-index: 0;*/
    /*margin-top: -420px;*/
    position: absolute;
    top: 0;
    right: 0
}

@keyframes swing {
    15% {
        transform: translateX(5px);
    }
    30% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(3px);
    }
    65% {
        transform: translateX(-3px);
    }
    80% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(0);
    }
}

.swaying {
    animation: swing 2s infinite;
    animation-iteration-count: infinite;
}

.head-text {
    /*margin: 0 0 0 8.68vw;*/
    z-index: 1;
    padding: 150px 0 0 60px;
    position: relative;
}

.head-text h2 {
    margin: 1.4vw 0 0 0;
}

.head-text h1 {
    font-family: Gropled;
}

.human {
    z-index: 0;
    width: calc(100% - 20px);

    display: flex;
    object-fit: cover;
    object-position: center;
    justify-content: center;
}

.boyarnyshik-img {
    width: calc(100% - 20px);
}

.line1 {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: -2800px;
}

.line3 {
    font: inherit;
}

.boyarnyshik {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.boyarnyshik-text {
    margin: 9.38vw 0 0 3.47vw;
    /*max-width: 221px;*/
}

.gingo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -150px;
}

.gingo-text {
    margin: 0 4.86vw 0 0;
}

.gingo-img {
    /*width: calc(100% - 20px);*/
}

.line2 {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;
}

.oblepisha {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 13.89vw 0 0 0;
}

.oblepisha-text {
    margin: 9.38vw 0 0 3.47vw;
}

.leaves_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /*margin: -850px 0 0 0;*/
}

.leaves_right-img {
    margin: -75px 0 0 0;
}


.line3 {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;
}

.leaves_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.lycerna {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: -350px 0 0 0;
}

.lycerna-text {
    margin: 0 4.86vw 0 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin: 7vw 0 0 0;
    padding: 0 0 3vw 0;
}


.left-text {
    margin: 0 0 0 3.47vw;
}

.right-text {
    margin: 0 4.86vw 0 0;
}
