@import "reset.css";
/* сбрoc настроек браузера */
@import "content.css";
/* контент / содержимое  */
@import "responsive.css";
/* адаптивность */
@import "font.css";
/* шрифт */
@import "module-windows.css";
/* всплывающие окна на мобильной версии */

@media only screen and (min-width: 1225px) {
    /* More than Desktop */
    .phone {
        display: none;
    }
}

@media only screen and (max-width: 1224px) {
    /* Desktop */
    .lol {
        display: none;
    }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* iPad */
    .lol {
        /* display:none !important; */
        color: pink;
    }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* iPad Portrait */
    .lol {
        display: none !important
    }
}

/*@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {*/
/*    !* iPad Landscape *!*/
/*}*/


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
    /* iPhone Portrait */
    .lol {
        display: none;
    }
    .head-text {
        max-width: 320px;
        padding: 20px 0 0 20px;
    }
    .head-img {
        max-width: 250px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
    /* iPhone Landscape */
    .lol {
        display: none;
    }
}

/*@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {*/
/*    !* iPhone Portrait *!*/
/*}*/